.modal-body .form-horizontal .col-sm-2, .modal-body .form-horizontal .col-sm-10 {
    width: 100%
}

button.btn.dropdown-toggle.btn-default {
    text-transform: uppercase;
    font-size: 1em;
}

.modal-body .form-horizontal .control-label {
    text-align: left;
}

.modal-body .form-horizontal .col-sm-offset-2 {
    margin-left: 15px;
}

.modal-content {
    padding-bottom: 19px;
    width: 596px;
    padding-left: 10px;
    padding-right: 10px;
}

#asset-name {
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

.input-group-addon {
    padding-right: 20px !important;
}

.add-container-btn {
    padding-top: 10%;
    padding-bottom: 10%;
}

.add-container-btn:hover {
    background-color: #fbfbfb;
}

.add-icon {
    color: #BDC3C7;
    font-size: 4em;
    font-weight: 100;
    cursor: pointer;
}

.bigIcon {
    margin-left: 2pt;
    font-size: 1.5rem;
}

.bigText {
    font-size: 1.4rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

label {
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px !important;
    color: grey;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.center {
    text-align: center;
}

h2 {
    margin-bottom: 0.9em;
    margin-right: 6%;
}

h3 {
    text-align: left;
}

.header-label {
    text-align: right;
    margin-right: 6% !important;
}

body {
    margin-top: 43px !important;
}

.positive {
    color: #27ae60
}

.negative {
    color: #c0392b
}

.card {
    margin: 20px;
    cursor: pointer;
}

.card-text-right {
    align-items: flex-end;
}

.card-title {
    margin-bottom: 0.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
