.bigIcon {
    margin-left: 2pt;
    font-size: 1.5rem;
}

.bigText {
    font-size: 1.4rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
}

.label {
    font-size: 1rem;
    font-weight: 200;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 0px;
    color: grey;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

h2 {
    margin-bottom: 0.9em;
    margin-right: 6%;
}

h3 {
    text-align: left;
}

.header-label {
    text-align: right;
    margin-right: 6% !important;
}

body {
    margin-top: 73px !important;
}

.positive {
    color: #27ae60
}

.negative {
    color: #c0392b
}

.card {
    margin: 20px;
    cursor: pointer;
}

.card-text-right {
    align-items: flex-end;
}

.card-title {
    margin-bottom: 0.9rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
}
